.container {
  display: flex;
  flex-direction: column;
}

.upperContainer {
  display: flex;
  width: 100vw;
  overflow: scroll;
  position: relative;
  padding-bottom: 10px;
}
/*wie kan ich jeden Monat Markieren, oder jede woche?
ich selekte hier zu viele Elemente */
.upperContainer :nth-child(5n) {
  border: 2px dotted blue;
}

.lowerContainer {
  display: grid;
  grid-template-rows: 50px 1fr;
  height: 50%;
}

.buttonContainer {
  display: flex;
  margin-left: 20px;
  gap: 20px;
  align-items: center;
}

.buttonContainer button {
  background-color: transparent;
  border: none;
  padding: 20px;
  color: hotpink;
  cursor: pointer;
}

.buttonContainer button:hover {
  background-color: hotpink;
  border-radius: 20px;
  color: white;
}

.buttonContainer .activeButton {
  border-bottom: 3px solid hotpink;
  font-weight: 600;
}
